*.gem
*.rbc
*.swp
*.class
*.cache
*.d
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Test.apk
results
ApiDemos/gen
ApiDemos/bin
test_servers
local.properties
